@import "definitions.scss";

body {
  background-color: #f4f4f4;

  &.modal-open {
    overflow: hidden;
  }
}

main {
  margin-bottom: 4rem;
}

.scrollarea {
  overflow-y: auto;
}

.accordion-button::after {
  margin-left: $spacer;
}

.accordion-body {
  background-color: #fcfcfc;
}

.card-body {
  p + p {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .multimedia-wrapper {
    .img-thumbnail {
      background-color: #fcfcfc;
    }

    .delete-multimedia {
      opacity: 0;
    }

    &:hover,
    &:active {
      .delete-multimedia {
        opacity: 1;
      }
    }

    .img-thumbnail .custom-icon svg {
      width: 32px;
      height: 32px;
    }
  }
}

.multimedia-wrapper-upload {
  svg {
    max-width: 48px;
  }

  p {
    line-height: 1;
  }
}

.loading-multimedia {
  position: absolute;
  bottom: calc($spacer/4);
  left: calc($spacer/2);
}

.delete-multimedia {
  transition: all 120ms ease;
  position: absolute;
  top: calc($spacer/2 * (-1));
  right: calc($spacer/2 * (-1));
  background-color: $light;
  border: 1px solid $border-color;
  width: $spacer * 1.5;
  height: calc($spacer * 1.5);
  border-radius: $spacer;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;

  i:not(.custom-icon) {
    display: none;
  }

  &:hover {
    color: white;
    background-color: $danger;
  }
}

.spinner-border-sm {
  margin-right: 4px;
}

.bg-cover {
  background-size: cover !important;
}

.bg-center {
  background-position: center !important;
}

.pac-container {
  z-index: 10000 !important;
}

.form-floating.focus {
  .form-control {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;

    ~ label {
      opacity: 0.65;
      transform: scale(0.85) translateY(-0.5rem) translate(0.15rem);
    }
  }
}

.form-floating > label {
  opacity: 0.65;
  font-style: italic;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  font-style: normal;
}

.btn:hover {
  .d-btnhover-inline {
    display: inline !important;
  }
  .d-btnhover-none {
    display: none !important;
  }
}

.custom-drag-n-drop {
  min-height: 300px;
  position: relative;

  .custom-drag-n-drop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: $input-border-width solid $input-border-color;
    background-color: rgba($secondary, 0.3);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .custom-drag-n-drop-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 24px;

      p {
        margin-top: 8px;
        max-width: 320px;
        text-align: center;
        line-height: 1.125;
        margin-bottom: 0;
      }
    }

    input {
      max-width: 320px;
    }
  }
}

.custom-icon__inline {
  display: inline-block;
  color: $primary;
  width: 24px;
  height: 24px;
  svg {
    width: 100%;
  }
}

.custom-icon__big {
  color: $primary;
  width: 32px;
  height: 32px;
  svg {
    width: 100%;
  }
}

.custom-aside {
  .nav-item {
    ul li {
      padding-left: $spacer;
    }
  }
}

.custom-offcanvas-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.68rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.accordion-body .card {
  transition: all 180ms ease;
  /*cursor: pointer;*/

  &:hover {
    background-color: #f9f8f6;
  }
}

.slim-hide {
  display: inline-block;
  margin-left: 8px;
}

@media screen and (min-width: 992px) {
  .navbar {
    z-index: $zindex-fixed + 3;
  }

  main.container-xl,
  main.container-lg,
  main.container-md,
  main.container-sm,
  main.container,
  main.container-fluid {
    padding-left: 244px;

    &.no-aside-menu,
    &.noMenu {
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }

  .custom-aside {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    height: 100vh;
    overflow-y: auto;
    z-index: $zindex-fixed + 1;
    background-color: $secondary;
    transition: all $offcanvas-transition-duration * 2 ease;
    overflow: visible;

    .offcanvas,
    .offcanvas-header,
    .offcanvas-body {
      display: block;
      position: relative;
      visibility: visible;
      transform: none;
    }

    .offcanvas {
      width: 230px;
    }

    body.slim-aside & {
      width: 50px;
      overflow: visible;

      .slim-hide {
        // display: none;
        transform: translateX(-200%);
        opacity: 0;
        transition: opacity 180ms ease;
        position: absolute;
        left: 100%;
        top: 2px;
        color: var(--bs-light);
        background-color: var(--bs-dark);
        white-space: nowrap;
        padding: 6px 12px;
      }

      .custom-icon svg {
        margin-right: 0;
      }

      .nav-link {
        // text-align: center;
        position: relative;
        &:hover {
          .slim-hide {
            transform: translateZ(0);
            transition-delay: 50ms;
            // display: block;
            opacity: 1;
          }
        }
      }

      .dropdown-toggle {
        &:after {
          content: none;
        }
      }

      + main.container-xl,
      + main.container-lg,
      + main.container-md,
      + main.container-sm,
      + main.container,
      + main.container-fluid {
        padding-left: 62px;
      }
    }

    .offcanvas-header {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
    }

    .btn-close {
      display: none;
    }

    // ul.nav {
    //     // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    // }

    li.nav-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      width: 100%;
      display: block;
    }
    li.nav-item ul {
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      width: 100%;
      display: block;
      background-color: mix($secondary, black, 96%);
    }

    li.nav-item ul li.nav-item:last-child {
      border-bottom: none;
    }
  }
}

.bg-success {
  margin-left: 8px;
  color: white;
}

.bg-light {
  margin-left: 8px;
  color: rgb(144, 144, 144);
}

.custom-icon svg {
  margin-top: -4px;
  // margin-right: 4px;
  position: relative;
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.offcanvas-body .nav-item .active,
.offcanvas-body .nav-item .link-dark.active,
.offcanvas-body .nav-item .active span {
  color: #fff !important;
}

.offcanvas-body .nav-item .exact-active,
.offcanvas-body .nav-item .link-dark.exact-active,
.offcanvas-body .nav-item .exact-active span {
  color: #fff !important;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
}

//  STATUS COLORS

.badge[class*="bg-color"] {
  border: 1px solid;
}

$color-pending: #b6b9b1;
$bg-pending: mix($color-pending, white, 40%);

$color-sent: #607c61;
$bg-sent: mix($color-sent, white, 30%);

$color-reopened: #dcb364;
$bg-reopened: mix($color-reopened, white, 40%);

$color-completed: $green;
$bg-completed: mix($color-completed, white, 40%);

$color-not-applicable: #ede3ca;
$bg-not-applicable: mix($color-not-applicable, white, 40%);

.bg-color {
  &-pending {
    background-color: $bg-pending;
    color: mix($color-pending, black, 50%);
  }
  &-sent {
    background-color: $bg-sent;
    color: mix($color-sent, black, 50%);
  }
  &-reopened {
    background-color: $bg-reopened;
    color: mix($color-reopened, black, 50%);
  }
  &-completed {
    background-color: $bg-completed;
    color: mix($color-completed, black, 50%);
  }
  &-not-applicable {
    background-color: $bg-not-applicable;
    color: mix($color-not-applicable, black, 50%);
  }
}

//  ./STATUS COLORS
thead.sticky {
  position: relative;

  th {
    position: sticky;
    top: 54px;
    background-color: #fcfcfc;
    color: $body-color;
    z-index: 2;
  }
}

.custom-fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 6px 0 5px;
  background-color: rgb(251, 251, 251);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  z-index: $zindex-fixed;
}

@media screen and (min-width: 992px) {
  .custom-fixed-bottom {
    left: 232px;

    body.slim-aside & {
      left: 50px;
    }
  }
}

video {
  width: 100%;
}

.custom-pill {
  margin-right: 8px;
  margin-top: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
  text-transform: uppercase;
  line-height: 1.3;
  border-radius: 5px;
}

.custom-pill .btn-close {
  height: 12px;
  margin-bottom: -4px;
  position: relative;
  top: 1px;
  margin-left: 2px;
}

.custom-pill-all {
  color: rgb(78, 78, 78);
}

.custom-list-view .card {
  transition: all 180ms ease;

  &:hover {
    background-color: #f9f8f6;
  }
}

.card-title a,
.card a {
  text-decoration: none;
}

.card-title a.bf-link:before,
.custom-list-view .card a.bf-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.card-title a.bf-link:hover,
.custom-list-view .card a.bf-link:hover {
  text-decoration: underline;
}

.badge {
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}

.custom-list-view .card {
  margin-bottom: 8px;
}

#content-list {
  .active {
    text-decoration: underline;
  }
}

body {
  .collapsable-header,
  .collapsable-header-content {
    background-color: var(--bs-white);
  }

  .collapsable-header,
  .collapsable-header-inner {
    cursor: pointer;
    border-bottom-color: transparent !important;

    .chevron-icon {
      display: inline-block;
      transition: all 180ms ease;
      transform: rotate(180deg);
      position: relative;
      top: -2px;
    }

    + .collapsable-header-content,
    + .collapsable-header-content-inner {
      border-top-color: transparent !important;
    }
  }
}

body.short-header {
  .collapsable-header-content {
    display: none;
  }

  .collapsable-header {
    cursor: pointer;
    border-bottom-color: var(--bs-border-color) !important;

    .chevron-icon {
      transform: rotate(0deg);
      top: 0;
    }
  }
}

body.short-header-inner {
  .collapsable-header-content-inner {
    display: none;
  }

  .collapsable-header-inner {
    cursor: pointer;
    border-bottom-color: var(--bs-border-color) !important;

    .chevron-icon {
      transform: rotate(0deg);
      top: 0;
    }
  }
}

body.short-header-independent {
  .collapsable-header-content-independent {
    display: none;
  }

  .collapsable-header-independent {
    cursor: pointer;
    border-bottom-color: var(--bs-border-color) !important;

    .chevron-icon {
      transform: rotate(0deg);
      top: 0;
    }
  }
}

[data-bs-toggle="collapse"] {
  .show-text {
    display: none;
  }
  &.collapsed {
    .show-text {
      display: inline-block;
    }
  }
  .hide-text {
    display: inline-block;
  }
  &.collapsed {
    .hide-text {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .custom-list-view .card {
    margin-bottom: 0;
  }

  .custom-list-view .card + .card {
    border-top: none;
  }
}

.btn-group {
  .btn.btn-outline-dark ~ .btn.btn-outline-dark {
    border-left: none;
  }
}

.nl2br {
  white-space: pre;
}

@media (min-width: 425px) {
  .d-sm-inline {
    display: inline !important;
  }
}

.form-floating > .form-control.no-label {
  padding: 0.5rem;
  height: 31px;
}

.form-floating > .form-select.no-label {
  padding: 0.5rem;
  height: 38px;
}

.read-only.no-label.nowrap {
  white-space: nowrap;
  overflow: hidden;
  max-width: 126px;
  text-overflow: ellipsis;
}

.card {
  .card-header {
    &.card-collapsable {
      padding-right: 44px;
      position: relative;

      &:after {
        content: "";
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        transform: rotate(180deg);
        transition: all 240ms ease-in-out;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='15px' height='9px' viewBox='0 0 15 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EArtboard%3C/title%3E%3Cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M0.146893784,0.146893784 C0.240698047,0.052852083 0.368066523,0 0.500893784,0 C0.633721045,0 0.761089521,0.052852083 0.854893784,0.146893784 L6.50089378,5.79389378 L12.1468938,0.146893784 C12.2733658,0.0204217649 12.4577028,-0.028971181 12.6304668,0.0173207907 C12.8032308,0.0636127625 12.9381748,0.1985568 12.9844668,0.371320791 C13.0307587,0.544084781 12.9813658,0.728421765 12.8548938,0.854893784 L6.85489378,6.85489378 C6.76108952,6.94893548 6.63372104,7.00178757 6.50089378,7.00178757 C6.36806652,7.00178757 6.24069805,6.94893548 6.14689378,6.85489378 L0.146893784,0.854893784 C0.052852083,0.761089521 -4.4408921e-16,0.633721045 -4.4408921e-16,0.500893784 C-4.4408921e-16,0.368066523 0.052852083,0.240698047 0.146893784,0.146893784 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
      &.is-collapsed {
        border-bottom: none;
        + .card-body {
          display: none;
        }
        &:after {
          transform: rotate(0);
        }
      }
    }
  }
}

.close-open-all {
  .close-all {
    display: none;
  }

  &.is-open {
    .close-all {
      display: inherit;
    }
    .open-all {
      display: none;
    }
  }
}

.multimedia-navigation {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  a {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0.5;
  }

  .prev i {
    left: 0.5rem;
  }

  .next i {
    right: 0.5rem;
  }

  i {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
  }

  svg {
    width: 2rem;
    color: white;
  }

  a:hover {
    opacity: 1;
  }

  .prev {
    left: 0;
    width: 20%;
  }

  .next {
    right: 0;
    width: 60%;
  }
}

.multimedia-navigation-video a {
  position: absolute;
  top: 0;
  height: auto;
  opacity: 0.8;
  bottom: 100px;
}
.form-floating > textarea.form-control {
  height: auto;
}
.form-floating textarea:not(:placeholder-shown) {
  padding-top: 1.9rem !important;
}
.form-floating
  textarea:not(:placeholder-shown):not([disabled])
  ~ label
  ~ div.bg {
  width: calc(100% - 2rem);
  height: 2rem;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 1;
  padding-top: 1.625rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.form-floating
  > [disabled].form-control:not(:placeholder-shown)
  ~ label::after {
  background-color: transparent;
}

.form-floating textarea ~ label {
  z-index: 2;
}

.bg-light-danger {
  background-color: rgba($danger, 0.1) !important;
}

.bg-light-warning {
  background-color: rgba($warning, 0.1) !important;
}

.bg-light-success {
  background-color: rgba($success, 0.1) !important;
}

.table-responsive.with-actions-gap {
  padding-bottom: 5rem !important;
}

.text-medium {
  font-weight: 500;
}

.read-only.pseudo-read-only {
  margin-top: 0.35rem;
}

.read-only.pseudo-read-only .small.text-muted {
  line-height: 1.1;
}

.custom-shadow-bar {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.sticky-top .nav {
  border-radius: 40px;
  padding: 5px 6px;
  border: 1px solid var(--bs-border-color);
}

.sticky-top .nav-link {
  background: #f2f2f2;
  padding: 1px 10px !important;
  margin: 2px 2px;
  border-radius: 40px;
  font-size: 13px;
}

.sticky-top .nav-link.active {
  background: #69979d;
  color: white;
  text-decoration: none;
}

.small-sticky + .sticky-top {
  top: 64px !important;
}

.custom-shadow-bar {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
